# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# Specific settings for Rust/Python files
[{**.rs, **.py}]
indent_size = 4

# Specific settings for Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false
