{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "requirePragma": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,

  "experimentalTernaries": false,

  "tailwindConfig": "./tailwind.config.mjs",
  "tailwindFunctions": ["tw", "cn", "tv", "cva"],
  "tailwindAttributes": ["tw"],

  "astroAllowShorthand": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-prisma"
  ],
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.mdx", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
