---
import BlogPostLayout from "@/layouts/BlogPost.astro";
import { filterAndSortResource } from "@/lib/utils";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const entries = filterAndSortResource(await getCollection("posts"));
  return entries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<BlogPostLayout frontmatter={entry.data}>
  {
    headings.map((heading) => (
      <a href={`#${heading.slug}`} class="block text-xs">
        {heading.text}
      </a>
    ))
  }

  <Content slot="post__content" />
</BlogPostLayout>
