---
import PostImage from "@/assets/images/illustration-article.svg";
import AvatarImage from "@/assets/images/image-avatar.webp";
import { Image, Picture } from "astro:assets";
import Link from "./link.astro";

// postimage category publishdate title description authorpic authorname authorlink
// tags/category
---

<article
  class:list={[
    "group flex min-w-80 flex-col gap-6 p-6 leading-normal",
    "rounded-lg border border-neutral-600",
    "shadow-[4px_4px_1px] shadow-neutral-600",
  ]}
>
  <Picture
    alt="Design"
    src={PostImage}
    formats={["avif", "webp"]}
    fallbackFormat="svg"
    class="min-h-48 rounded-lg object-cover"
  />

  <header class="flex flex-col gap-4">
    <ul role="list" class="flex items-center gap-1">
      {
        [1, 2, 3].map((_) => (
          <li class="rounded bg-yellow-300 px-1.5 py-1 font-accent text-xs font-semibold text-black">
            <Link href="#">Learning</Link>
          </li>
        ))
      }
    </ul>

    <p class="text-xs font-normal text-black">
      Published <time datetime="">21 Dec 2023</time>
    </p>
    <h3
      class="text-xl font-extrabold text-black group-hover:text-yellow-500 focus:text-yellow-500"
    >
      <Link href="#">HTML & CSS foundations</Link>
    </h3>
    <p class="text-sm font-normal text-gray-500">
      These languages are the backbone of every website, defining structure,
      content, and presentation.
    </p>
  </header>

  <footer class="rounded-md bg-neutral-100 p-2">
    <figure class="flex items-center gap-4">
      <Image
        src={AvatarImage}
        width={64}
        height={65}
        alt="Author"
        class="size-10 rounded-full"
      />
      <figcaption class="self-center text-sm font-bold text-black">
        Greg Hooper
      </figcaption>
    </figure>
  </footer>
</article>
