---
import { hasValues } from "@/shared/utils";

const collections = [""];
---

<Fragment>
  {
    hasValues(collections) ? (
      <ul class="flex flex-col gap-6">
        {collections.map((col) => {
          return (
            <Fragment>
              <li>{col}</li>
            </Fragment>
          );
        })}
      </ul>
    ) : null
  }
</Fragment>
