---
import ConstructionJPG from "@/assets/images/construction.jpg";
import { getImage } from "astro:assets";

const image = await getImage({
  src: ConstructionJPG,
  width: 1560,
  height: 1280,
  format: "webp",
});
---

<main
  id="main-content"
  class="grid h-screen place-content-center supports-[height:100svh]:h-svh"
>
  <div
    style={`background-image: url(${image.src});`}
    class="relative isolate mx-auto grid place-content-center gap-8 rounded bg-cover bg-no-repeat p-28 text-center"
  >
    <h1 class="text-3xl font-bold">Site Under Construction</h1>
    <p
      class="z-10 mx-auto max-w-prose bg-black/50 px-12 py-4 text-white bg-blend-darken"
    >
      I am currently at work on this website. It'll be awesome...I promise 😽
      Please feel free to check back later.
    </p>
  </div>
</main>
