---
import { Icon } from "astro-icon/components";
import { CopyEmailButton } from "./copy-email-btn";
---

<div class="group relative flex w-max items-center gap-2">
  <Icon
    name="lucide:mail-plus"
    class="size-4 text-pink-600 dark:text-pink-500"
  />
  <CopyEmailButton />
</div>
