---
import { getImage } from "astro:assets";
import MaintenanceJPG from "@/assets/images/maintenance.jpg";
import { moment } from "@/shared/helpers/datetime";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
import Link from "./link.astro";
import Time from "./time.astro";

const buildDate = new Date(Date.now());

const image = await getImage({
  src: MaintenanceJPG,
  width: 1560,
  height: 1280,
  format: "webp",
});
---

<main
  id="main-content"
  class="grid h-screen place-content-center supports-[height:100svh]:h-svh"
>
  <div
    style={`background-image: url(${image.src});`}
    class="relative isolate mx-auto grid place-content-center gap-8 rounded bg-cover bg-no-repeat p-28 text-center"
  >
    <h1 class="text-3xl font-bold">🚧 Site Under Maintenance</h1>
    <p
      class="z-10 mx-auto max-w-prose bg-black/50 px-12 py-4 text-white bg-blend-darken"
    >
      This site is currently undergoing maintenance. Please check back soon.😽
    </p>
  </div>

  <div class="absolute bottom-0 left-0 right-0 bg-slate-200 dark:bg-slate-900">
    <Container class="flex items-center justify-center py-1">
      <p
        class="flex flex-wrap content-center items-center gap-1 text-xs text-gray-800 dark:text-white"
      >
        <span>Built with </span>
        <Icon name="logos:astro-icon" />
        <Link href="https://docs.astro.build/en/concepts/why-astro/"
          >{Astro.generator}</Link
        > on
        <Time datetime={buildDate.toISOString()}
          >{moment.format(buildDate)}</Time
        >
      </p>
    </Container>
  </div>
</main>
