---

---

<div class="flex flex-col gap-1">
  <p
    role="alert"
    aria-live="polite"
    aria-atomic="true"
    data-state="idle"
    id="newsletter-toast"
    class:list={[
      "text-sm font-light data-[state='error']:text-red-500 data-[state='success']:text-green-500",
    ]}
  >
  </p>

  <form
    class:list={[
      "flex w-full flex-col items-center gap-4 md:flex-row md:p-1",
      "md:rounded md:border md:border-slate-300 md:dark:border-slate-900",
    ]}
  >
    <input
      type="hidden"
      name="honeypot"
      placeholder="do not fill this"
      class="sr-only"
    />

    <input
      type="email"
      id="newsletter.email.input"
      name="email"
      aria-autocomplete="both"
      autocomplete="email"
      aria-invalid="false"
      aria-errormessage="newsletter.email.error"
      placeholder="Email Address"
      class:list={[
        "w-full rounded bg-transparent p-3",
        "text-sm text-slate-900 caret-current dark:text-slate-300",
        "md:flex-grow md:rounded-none md:border-none md:px-3 md:py-2",
      ]}
    />

    <button
      type="submit"
      class:list={[
        "w-full px-4 py-3 md:px-3 md:py-2",
        "text-sm font-medium text-slate-900 dark:text-slate-200",
        "rounded bg-slate-200 dark:bg-slate-900",
        "transition-colors hocus:text-purple-500 md:w-auto",
      ]}
    >
      Subscribe
    </button>
  </form>
</div>

<script>
  import { getElement } from "@/shared/helpers/dom";
  import { actions, isInputError } from "astro:actions";

  const form = getElement("form", HTMLFormElement);

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const { data, error } = await actions.subscribe(new FormData(form));
    if (error && isInputError(error)) console.log(error);
    if (data?.success) console.log(data);
  });
</script>
