---
import { getImage } from "astro:assets";
import PatternPNG from "@/assets/images/pattern.png";
import { tw } from "@/shared/utils";
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "class:list">;

const { class: className, ...rest } = Astro.props;

const image = await getImage({ src: PatternPNG, width: 32, format: "webp" });
---

<div
  {...rest}
  style={`background-image: url(${image.src});`}
  class:list={tw(["absolute top-0 bg-[length:1.5rem] bg-repeat", className])}
>
</div>
