---
import type { ComponentProps } from "astro/types";
import type Time from "./time.astro";

type Props = ComponentProps<typeof Time>;

const { class: className } = Astro.props;

const publish_date = new Date(Astro.props.datetime || Date.now());
---

<p class="flex items-center gap-2">
  <time datetime={publish_date.toISOString()}>
    {
      publish_date.toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        timeZone: "UTC",
      })
    }</time
  >
  <span class:list={["h-px flex-1 bg-purple-600 dark:bg-purple-500", className]}
  ></span>
</p>
