---
import AvatarImage from "@/assets/images/placeholder.avif";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { Picture } from "astro:assets";
import CopyEmail from "./copy-email.astro";
import Link from "./link.astro";

type Props = HTMLAttributes<"article">;

const { class: className, ...rest } = Astro.props;
---

<article
  {...rest}
  class:list={[
    "flex h-fit w-full flex-col gap-4 rounded border border-slate-300 bg-transparent px-4 py-8 text-slate-700 sm:px-6 dark:border-slate-900 dark:text-slate-300",
    className,
  ]}
>
  <figure class="mx-auto size-16 overflow-hidden rounded-full border-2">
    <Picture
      width={60}
      height={60}
      alt="Samuel Chukwuzube"
      src={AvatarImage}
      formats={["avif", "webp"]}
      loading="eager"
    />
    <figcaption class="sr-only">Samuel Chukwuzube</figcaption>
  </figure>

  <div class="flex flex-col items-center justify-center gap-6 text-center">
    <h2 class="font-mono text-base font-semibold uppercase">
      Samuel Chukwuzube
    </h2>
    <p class="font-sans text-sm">
      <Link href="/about-me" class="underline">
        Frontend Engineer (Freelance) <br /> Coding Instructor <br /> Musician
      </Link>
    </p>
    <CopyEmail />
  </div>

  <hr class="my-1 border-slate-300 dark:border-slate-900" />
  <Link
    href="https://x.com/iamprincemuel"
    class="flex items-center justify-center gap-3 rounded border border-slate-300 px-2 py-3 text-center font-mono text-sm dark:border-slate-900"
  >
    <Icon name="twitterx" class="text-base" />
    <span>@iamprincemuel</span>
  </Link>
</article>
