---
import { Link } from "@/components";
import Root from "@/layouts/root.astro";
import { createExcerpt } from "@/lib/create-excerpt";
import { fetchResource } from "@/lib/utils";

const allPosts = await fetchResource("posts", { sort: true });
---

<Root title="Blog" description="">
  <dl
    class="flex items-center justify-between gap-2 font-accent font-semibold text-teal-600 dark:text-teal-500"
  >
    <dt class="text-sm text-inherit">Posts</dt>

    <dd
      class="rounded-sm border border-stone-300 bg-transparent px-2 py-1 text-xs text-inherit dark:border-stone-900"
    >
      x{allPosts.length}
    </dd>
  </dl>

  <Fragment>
    <ul class="flex flex-col gap-6">
      {
        allPosts.map((post) => (
          <li class="flex flex-col gap-2">
            <Link href={`/blog/${post.slug}`}>{post.data.title}</Link>

            <em class="text-xs">{createExcerpt(post.body)}</em>
          </li>
        ))
      }
    </ul>
  </Fragment>
</Root>
