---
import RootLayout from "@/layouts/Root.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
---

<RootLayout title="Prince Muel - Blog" description="">
  <main class="min-h-full">
    <section class="container">
      {
        allPosts.map((post) => (
          <div>
            <p>
              {post.data.media?.cover ?
                <Image src={post.data.media.cover} alt={post.data.media?.coverAlt || ""} />
              : null}
            </p>

            <h2>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h2>
          </div>
        ))
      }
    </section>
  </main>
</RootLayout>
