.height {
  height: var(--height);
}

.position {
  position: var(--position);
}

.bottom-margin {
  margin-block-end: var(--bottom-margin);
}

.content-offset {
  height: var(--content-offset);
}

.logo-transform {
  transform: var(--logo-transform);
}

.border-transform {
  transform: var(--border-transform);
}

.border-opacity {
  transform: var(--border-opacity);
}
