---
import Time from "./time.astro";

const datetime = new Date("2021-06-28");
---

<footer class="">
  <div class="container">
    <div class="">
      <p class="">
        <Time datetime={datetime}>{datetime.getFullYear()}</Time>
        <span>Prince Muel. All Rights Reserved.</span>
      </p>

      <p>Built with <a href="https://astro.build">{Astro.generator}</a></p>
      <slot />
    </div>
  </div>
</footer>
