---
import Link from "./link.astro";
import Time from "./time.astro";

const datetime = new Date("2021-06-28");
---

<footer class="">
  <div class="container">
    <div class="">
      <p class="">
        <Time datetime={datetime}>{datetime.getFullYear()}</Time>
        <span>Prince Muel. All Rights Reserved.</span>
      </p>

      <p>
        Built with <Link href="https://docs.astro.build/en/concepts/why-astro/"
          >{Astro.generator}</Link
        >
      </p>
      <slot />
    </div>
  </div>
</footer>
