---
import PlaceholderImage from "@/assets/placeholder.avif";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ThemeWidget } from "../web";
import Link from "./link.astro";
import Nav from "./nav.astro";

const response = await getCollection("routes");

// const excludedRoutes = ["resources", "snippets"];
const excludedRoutes = [""];

const routes = response
  .filter((route) => !excludedRoutes.includes(route.id))
  .sort((a, b) => a.data.order - b.data.order);
---

<header class="sticky top-0 z-50 w-full transition ease-in-out">
  <div class="flex items-center justify-between">
    <figure class="px-2 sm:p-0">
      <Link href="/" class="flex size-9 items-center justify-center overflow-hidden rounded-full border-2">
        <Image width={32} height={32} alt="Prince Muel" src={PlaceholderImage} loading="eager" class="" />
        <span class="sr-only">Home</span>
      </Link>
    </figure>

    <div
      class="mx-auto max-md:fixed max-md:inset-x-0 max-md:bottom-[5vh] max-md:grid max-md:w-full max-md:place-content-center"
    >
      <Nav routes={routes} />
    </div>

    <ThemeWidget />
  </div>
</header>
