---
import type { HTMLAttributes } from "astro/types";
import { invariant } from "outvariant";

type Props = RequireSome<HTMLAttributes<"a">, "href">;

invariant(Astro.props.href, "Expected `href` to be set but got `%s`", typeof Astro.props.href);

const href = Astro.props.href.toString();

const props =
  href.startsWith("/") || href.startsWith("#")
    ? { ...Astro.props }
    : { ...Astro.props, target: "_blank", rel: "noopener noreferrer" };
---

<a {...props} href={href}>
  <slot />
</a>
