---
import PlaceholderImage from "@/assets/placeholder.avif";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { ClickToCopyEmail } from "../qwik";
import Link from "./link.astro";
---

<article
  class="flex flex-col gap-4 rounded border border-stone-200 bg-transparent px-4 py-8 font-accent text-stone-900 dark:border-stone-900 dark:text-stone-50 sm:px-6"
>
  <figure class="mx-auto size-16 overflow-hidden rounded-full border-2">
    <Image width={60} height={60} alt="Sam Chukwuzube" src={PlaceholderImage} loading="eager" />
  </figure>

  <div class="flex flex-col items-center justify-center gap-4 text-center">
    <h2 class="text-base font-semibold uppercase">Sam Chukwuzube</h2>

    <p class="font-sans text-sm">
      <Link href="/about" class="underline"> Frontend Engineer (Freelance) </Link>
    </p>

    <ClickToCopyEmail class="" />
  </div>

  <hr class="my-1 border-stone-200 dark:border-stone-900" />
  <Link
    href={"https://x.com/iamprincemuel"}
    class="flex items-center justify-center gap-3 rounded border border-stone-200 p-2 text-center font-accent text-sm transition duration-300 dark:border-stone-900"
  >
    <Icon name="twitterx" class="text-base" />
    <span>@iamprincemuel</span>
  </Link>
</article>
