---
import RootLayout from "@/layouts/root.astro";
import { getCollection } from "astro:content";

let entries = await getCollection("posts", ({ data }) => !(import.meta.env.PROD && data.draft));
entries = entries.sort((a, b) => {
  return Number(b.data.publishedAt) - Number(a.data.publishedAt);
});
---

<RootLayout title={["Blog"]} description="">
  <h1>Hello</h1>
</RootLayout>
