@font-face {
  font-style: normal;
  font-family: __FontSans;
  font-display: swap;
  src:
    local("Nunito"),
    url(/static/fonts/Nunito.ttf) format("truetype");
}
@font-face {
  font-family: "__FontSans_Fallback";
  size-adjust: 103.66%;
  src: local("Arial");
  ascent-override: 94.63%;
  descent-override: 23.5%;
  line-gap-override: 0%;
}
