---
import Navigation from "./Navigation.astro";
---

<header class="">
  <nav data-id="navigation" class="flex items-center gap-4 rounded-pill bg-blue-400 px-4 py-1">
    <Navigation />
  </nav>
</header>
