div[data-rehype-pretty-code-fragment] {
  overflow: hidden;

  /* stylist preferences */
  border-radius: 0.5rem;
  background-color: rgb(255 255 255 / 0.1);
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;

  /* stylist preferences */
  padding-block: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

div[data-rehype-pretty-code-fragment] .line {
  /* stylistic preferences */
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.75rem;

  border-left-width: 0.4rem;
  border-left-color: transparent;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left-color: rgb(253 164 175 / 0.7);
  background-color: rgb(254 205 211 / 0.1);
}

div[data-rehype-pretty-code-title] {
  /* stylistic preferences */
  margin-bottom: 0.125rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  border-radius: 0.375rem;
  color: rgb(255 228 230 / 0.7);
  background-color: rgb(255 228 230 / 0.1);
  @apply font-mono;
  font-size: 0.75rem;
  line-height: 1rem;
}

code[data-line-numbers] {
  counter-reset: code-line-number;
}

code[data-line-numbers] .line::before {
  counter-increment: code-line-number;
  content: counter(code-line-number);

  /* stylistic preferences */
  display: inline-block;
  width: 1rem;
  margin-right: 0.75rem;
  color: rgb(255 255 255 / 0.2);
  text-align: right;
}

/* pre[data-theme="dark"] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"] {
    display: none;
  }
} */
