---
import Container from "@/components/atoms/container.astro";
import MainContent from "@/components/atoms/main.astro";
import Markdown from "@/components/atoms/markdown.astro";
import RootLayout from "@/layouts/root.astro";

import { Content } from "@/content/pages/404.md";

const description = "Accesibility Statement for Prince Muel's site";
---

<RootLayout
  title={["404: Not found", true]}
  description={description}
  directives={{ noindex: true, nofollow: true, nosnippet: true }}
>
  <Container class="mt-12">
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <MainContent class="flex flex-col gap-2 lg:col-start-2">
        <h1 id="headline" class="text-3xl font-extrabold text-gray-800">
          404: Not found
        </h1>
        <Markdown>
          <Content />
        </Markdown>
      </MainContent>
    </div>
  </Container>
</RootLayout>
