---
import Link from "@/components/link.astro";
import ContactLayout from "@/layouts/contact.astro";
import { Icon } from "astro-icon/components";

import { actions, isInputError } from "astro:actions";

export const prerender = false;

const result = Astro.getActionResult(actions.contact);
const formErrors = isInputError(result?.error) ? result.error.fields : {};
---

<ContactLayout title="Contact Me" description="Boo" jsonld={{}}>
  <section>
    {
      result?.data?.success && (
        <div
          transition:persist="success"
          role="alert"
          aria-live="polite"
          aria-atomic="true"
          class="flex w-full flex-col gap-2 self-center rounded-xl bg-green-600 p-4 text-white"
        >
          <p class="flex items-center gap-2 text-base font-bold">
            <Icon name="lucide:badge-check" class="text-inherit" />
            <span>Message Sent!</span>
          </p>
          <p class="text-balance text-sm">
            Thanks for completing the form. We&apos;ll be in touch soon!
          </p>
          <Link
            href="/"
            class="flex items-center gap-2 text-sm text-black underline"
          >
            <Icon name="fa:arrow-circle-left" /> <span>Go to homepage</span>
          </Link>
        </div>
      )
    }

    <form
      method="POST"
      action={actions.contact}
      class="flex flex-col gap-6 md:gap-8"
    >
      <header class="flex flex-col gap-5">
        <h1 class="text-3xl font-medium text-slate-900 dark:text-white">
          Contact Me
        </h1>

        <p class="text-slate-900 dark:text-slate-300">
          Let me know what's on your mind and I'll get back to you as soon as
          possible.
        </p>
      </header>

      <section class="grid grid-cols-6 gap-5">
        <div class="group col-span-6 flex flex-col gap-2 sm:col-span-3">
          <label
            class="cursor-pointer space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
            for="fields.firstName.input"
          >
            <span>First Name</span><span class="text-red-500">*</span>
          </label>

          <input
            type="text"
            id="fields.firstName.input"
            transition:persist="firstName"
            name="firstName"
            aria-autocomplete="both"
            class="rounded bg-transparent px-4 py-3 text-slate-900 dark:text-slate-300"
            autocomplete="given-name"
            aria-invalid={formErrors?.firstName ? "true" : "false"}
            aria-errormessage="fields.firstName.error"
          />

          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="text-sm font-light text-red-500"
            id="fields.firstName.error"
          >
            {formErrors?.firstName?.join(" ")}
          </span>
        </div>

        <div class="group col-span-6 flex flex-col gap-2 sm:col-span-3">
          <label
            for="fields.lastName.input"
            class="cursor-pointer space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
          >
            <span>Last Name</span><span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="fields.lastName.input"
            transition:persist="lastName"
            name="lastName"
            aria-autocomplete="both"
            class="rounded bg-transparent px-4 py-3 text-slate-900 dark:text-slate-300"
            autocomplete="family-name"
            aria-invalid={formErrors?.lastName ? "true" : "false"}
            aria-errormessage="fields.lastName.error"
          />
          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="text-sm font-light text-red-500"
            id="fields.lastName.error"
          >
            {formErrors?.lastName?.join(" ")}
          </span>
        </div>

        <div class="group col-span-6 flex flex-col gap-2">
          <label
            for="fields.email.input"
            class="cursor-pointer space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
          >
            <span>Email Address</span><span class="text-red-500">*</span>
          </label>
          <input
            type="email"
            id="fields.email.input"
            transition:persist="email"
            name="email"
            aria-autocomplete="both"
            class="rounded bg-transparent px-4 py-3 text-slate-900 dark:text-slate-300"
            autocomplete="email"
            aria-invalid={formErrors?.email ? "true" : "false"}
            aria-errormessage="fields.email.error"
          />
          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="text-sm font-light text-red-500"
            id="fields.email.error"
          >
            {formErrors?.email?.join(" ")}
          </span>
        </div>

        <fieldset class="group col-span-6 space-y-3">
          <legend
            class="space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
          >
            Query Type <span class="text-red-500">*</span>
          </legend>

          <section class="grid grid-cols-6 gap-5">
            <label
              class="col-span-6 flex cursor-pointer items-center gap-2 rounded border border-gray-500 px-4 py-3 text-slate-900 sm:col-span-3 dark:text-slate-300"
            >
              <input
                type="radio"
                id="fields.general.input"
                transition:persist="general"
                name="queryType"
                value="general"
                class="rounded-full"
                aria-invalid={formErrors?.queryType ? "true" : "false"}
                aria-errormessage="fields.query.error"
              />
              <span>General Enquiry</span>
            </label>

            <label
              class="col-span-6 flex cursor-pointer items-center gap-2 rounded border border-gray-500 px-4 py-3 text-slate-900 sm:col-span-3 dark:text-slate-300"
            >
              <input
                type="radio"
                id="fields.contract.input"
                transition:persist="contract"
                name="queryType"
                value="contract"
                class="rounded-full"
                aria-invalid={formErrors?.queryType ? "true" : "false"}
                aria-errormessage="fields.query.error"
              />
              <span>Contract Work</span>
            </label>

            <label
              class="col-span-6 flex cursor-pointer items-center gap-2 rounded border border-gray-500 px-4 py-3 text-slate-900 sm:col-span-3 dark:text-slate-300"
            >
              <input
                type="radio"
                id="fields.support.input"
                transition:persist="support"
                name="queryType"
                value="support"
                class="rounded-full"
                aria-invalid={formErrors?.queryType ? "true" : "false"}
                aria-errormessage="fields.query.error"
              />
              <span>Technical Support</span>
            </label>

            <label
              class="col-span-6 flex cursor-pointer items-center gap-2 rounded border border-gray-500 px-4 py-3 text-slate-900 sm:col-span-3 dark:text-slate-300"
            >
              <input
                type="radio"
                id="fields.issues.input"
                transition:persist="issues"
                name="queryType"
                value="issues"
                class="rounded-full"
                aria-invalid={formErrors?.queryType ? "true" : "false"}
                aria-errormessage="fields.query.error"
              />
              <span>Bug Report</span>
            </label>
          </section>

          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="inline-block text-sm font-light text-red-500"
            id="fields.query.error"
          >
            {formErrors?.queryType?.join(" ")}
          </span>
        </fieldset>

        <div class="group col-span-6 flex flex-col gap-2">
          <label
            for="fields.message.input"
            class="cursor-pointer space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
          >
            <span>Message</span>
            <span class="text-red-500">*</span>
          </label>
          <textarea
            transition:persist="message"
            name="message"
            id="fields.message.input"
            autocapitalize="on"
            class="min-h-32 rounded bg-transparent px-4 py-3 text-slate-900 dark:text-slate-300"
            autocomplete="on"
            aria-invalid={formErrors?.message ? "true" : "false"}
            aria-errormessage="fields.message.error"
          >
          </textarea>
          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="text-sm font-light text-red-500"
            id="fields.message.error"
          >
            {formErrors?.message?.join(" ")}
          </span>
        </div>

        <div class="group col-span-6 flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <input
              type="checkbox"
              id="fields.consent.input"
              transition:persist="consent"
              name="consent"
              class=""
              aria-invalid={formErrors?.consent ? "true" : "false"}
              aria-errormessage="fields.email.error"
            />
            <label
              class="cursor-pointer space-x-1 text-sm font-medium text-slate-600 dark:text-slate-400"
              for="fields.consent.input"
            >
              <span>I consent to being contacted by Prince Muel</span>
              <span class="text-red-500">*</span>
            </label>
          </div>
          <span
            role="alert"
            aria-live="polite"
            aria-atomic="true"
            class="text-sm font-light text-red-500"
            id="fields.consent.error"
          >
            {formErrors?.consent?.join(" ")}
          </span>
        </div>

        <button
          type="submit"
          transition:persist="submit-btn"
          class="col-span-6 rounded bg-purple-700 px-4 py-3 text-white dark:bg-slate-900"
        >
          Submit
        </button>
      </section>
    </form>
  </section>
</ContactLayout>
