---
import GithubActivity from "@/components/github-activity.astro";
import RootLayout from "../layouts/root.astro";
---

<RootLayout title="Dashboard" description="">
  <main class="min-h- mx-auto w-full max-w-4xl">
    <div class="rounded border border-stone-100/10">
      <div class="p-4">
        <div
          class="h-96 overflow-y-hidden rounded border border-stone-100/10 p-4"
        >
          <div
            class:list={[
              "flex h-full flex-col gap-4 overflow-y-auto scrollbar",
            ]}
          >
            <GithubActivity />
          </div>
        </div>
      </div>
    </div>
  </main>
</RootLayout>
