---
import GithubActivity from "@/components/github-activity.astro";
import RootLayout from "../layouts/root.astro";
---

<RootLayout title="Dashboard" description="">
  <main class="min-h- prose-purple mx-auto w-full max-w-4xl">
    <div class="rounded">
      <div class="p-4 dark:bg-slate-900">
        <div
          class="h-96 overflow-y-hidden rounded bg-gray-50 p-4 dark:bg-gray-800"
        >
          <div
            class:list={[
              "flex h-full flex-col gap-4 overflow-y-auto bg-gray-50 scrollbar dark:bg-gray-800",
            ]}
          >
            <GithubActivity server:defer />
          </div>
        </div>
      </div>
    </div>
  </main>
</RootLayout>
