---
import GithubActivity from "@/components/organisms/github-activity.astro";
import RootLayout from "../layouts/root.astro";
---

<RootLayout title="Dashboard" description="">
  <main class="min-h- prose-slate mx-auto w-full max-w-4xl">
    <h1>Cool Analytics Hub/Playground</h1>
    <div class="rounded">
      <div class="p-4">
        <div class="h-96 overflow-y-hidden rounded bg-gray-50 p-4">
          <div
            class:list={[
              "flex h-full flex-col gap-4 overflow-y-auto bg-gray-50 scrollbar",
            ]}
          >
            <GithubActivity server:defer />
          </div>
        </div>
      </div>
    </div>
  </main>
</RootLayout>
