---
import Container from "@/components/atoms/container.astro";
import MainContent from "@/components/atoms/main.astro";
import Markdown from "@/components/atoms/markdown.astro";
import RootLayout from "@/layouts/root.astro";

import { Content } from "@/content/routes/home.md";

import { home_ld } from "@/schema/jsonld";
import { remove_key } from "@/utilities/objects";

import type { Graph } from "schema-dts";

const jsonld = {
  "@context": "https://schema.org",
  "@graph": remove_key("@context", [home_ld]),
} satisfies Graph;
---

<RootLayout title={["Prince Muel", true]} description="Home">
  <script
    is:inline
    type="application/ld+json"
    slot="head"
    set:html={JSON.stringify(jsonld)}
  />
  <Container class="mt-12">
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <MainContent class="flex flex-col gap-2 lg:col-start-2">
        <h1 id="headline" class="text-2xl font-extrabold text-gray-800">
          Hey there! 👋
        </h1>
        <Markdown>
          <Content />
        </Markdown>
      </MainContent>
    </div>
  </Container>
</RootLayout>
