---
import Markdown from "@/components/atoms/markdown.astro";
import { Content } from "@/content/pages/home.md";
import HomeLayout from "@/layouts/home.astro";
import { home_ld } from "@/lib/jsonld";
import { remove_key } from "@/utilities/objects";
import type { Graph } from "schema-dts";

const jsonld = {
  "@context": "https://schema.org",
  "@graph": remove_key("@context", [home_ld]),
} satisfies Graph;
---

<HomeLayout title={["Home"]} description="Home" jsonld={jsonld}>
  <Markdown class="">
    <!-- <h1 class="mb-1 font-sans text-3xl sm:text-5xl">Sam Chukwuzube</h1>
    <h2 class="mt-1 font-sans">Frontend Engineer (Freelance)</h2> -->

    <Content />
  </Markdown>
</HomeLayout>
