---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div {...attrs} class:list={["animate-pulse rounded-md bg-gray-50/30", className]}>
</div>
