.footer-grid {
  @apply grid justify-items-center gap-12 text-center md:grid-cols-2 md:justify-items-start md:text-left;
}
@media (min-width: 48em) {
  .footer-grid {
    grid-template-areas: 'info info' 'copyright social';
  }
  .info {
    grid-area: info;
  }
  .social {
    grid-area: social;
    justify-self: flex-end;
  }
  .copyright {
    grid-area: copyright;
  }
}

@media (min-width: 64em) {
  .footer-grid {
    grid-template-areas: 'info social' 'copyright copyright';
  }
  .social {
    align-self: flex-end;
  }
}
