---
import { errorMap } from "@/helpers/errors";
import Root from "@/layouts/root.astro";
import { formSchema } from "@/lib/form";

const title = "Contact Me";
const description =
  "Please feel free to reach out to me. I'd love to hear about what you're working on and how I could help.";

// const errors = {
//   firstName: "",
//   lastName: "",
//   email: "",
//   message: "",
//   type: "",
// };

if (Astro.request.method === "POST") {
  try {
    const formData = formSchema.safeParse(
      Object.fromEntries(await Astro.request.formData()),
      { errorMap },
    );

    if (!formData.success) {
      console.log(JSON.stringify(formData.error));
    }

    console.log(formData.success);
  } catch (error) {}
}
---

<Root title={title} description={description}>
  <main
    id="main"
    aria-labelledby="page-heading"
    class="flex min-h-full flex-col gap-20 py-20"
  >
    <h1 id="page-heading" class="sr-only">Want to reach out?</h1>
  </main>
</Root>
