---
import SocialLinks from "@/components/templates/SocialLinks.astro";
import RootLayout from "../layouts/RootLayout.astro";

const pagetitle = "Prince Muel - Contact Me";
const description =
  "If you're looking for a fast, performant, user-friendly, SEO and accessibility compliant website to represent your product or business, want a consultation or you'd just like to say hi 👋, please feel free to reach out. I'd love to hear about what you're working on and how I could help.";
---

<RootLayout title={pagetitle} description={description}>
  <main id="main" aria-labelledby="page-heading" class="flex min-h-full flex-col gap-20 py-20">
    <h1 id="page-heading" class="sr-only">Want to reach out?</h1>

    <section class="container">
      <div class="gap8 flex flex-col border-y border-zinc-800/20 py-12 md:flex-row">
        <h2 class="flex-1 font-accent text-3xl font-semibold tracking-tight text-blue-300">
          Get in Touch
        </h2>

        <div class="flex flex-1 flex-col gap-6">
          <p>
            Hi there! Thanks for sticking with me till this point. If you're looking for a fast,
            performant, user-friendly, SEO and accessibility compliant website to represent your
            product or business, want a consultation or you'd just like to say hi (wave emoji),
            please feel free to reach out. I'd love to hear about what you're working on and how I
            could help.
          </p>

          <p>
            I'm also currently looking for a new role as a Frontend Engineer and open to a wide
            range of opportunities. My preference would be to work remotely... But I'd also be happy
            to hear about opportunites that don't fit that description. I'm a hard-working and
            positive person who will always approach each task with a sense of purpose and attention
            to detail. Please, do feel free to check out my online profiles below and/or send me a
            message using the form below. I will do my best to respond in a timely manner. (smile
            emoji)
          </p>

          <SocialLinks />
        </div>
      </div>
    </section>

    <section class="container">
      <div class="flex flex-col gap-8 md:flex-row">
        <h2 class="flex-1 font-accent text-3xl font-semibold tracking-tight text-blue-300">
          Contact Me
        </h2>

        <form class="flex-1 space-y-8">
          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="name">Name</label>
            <input
              type="text"
              class="w-full bg-zinc-800/20 px-5 py-3"
              id="name"
              placeholder="Jane Appleseed"
              autocomplete="name"
            />
          </div>

          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="email"> Email Address</label>
            <input
              type="email"
              class="w-full bg-zinc-800/20 px-5 py-3"
              id="email"
              placeholder="email@example.com"
              autocomplete="email"
            />
          </div>

          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="message"> Message</label>
            <textarea
              name=""
              class="min-h-min w-full bg-zinc-800/20 px-5 py-3"
              id="message"
              placeholder="How can I help"></textarea>
          </div>

          <button type="submit" class="inline-flex items-center bg-blue-500 px-5 py-3 text-white"
            >Send Message</button
          >
        </form>
      </div>
    </section>
  </main>
</RootLayout>
