---
import RootLayout from "../layouts/Root.astro";
---

<RootLayout title="Prince Muel - Home" description="">
  <main class="min-h-svh">
    <section class="container"></section>
  </main>
</RootLayout>
