---
import { AlertBox } from "@/components/astro";
import XAlertBox from "@/components/web/x-alert-box.astro";
import Root from "@/layouts/root.astro";
---

<Root title="Home" , description="Home">
  <main slot="main">
    <XAlertBox><p>Hello</p></XAlertBox>
    <AlertBox>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      aut blanditiis possimus deserunt earum, ut iure veniam quibusdam non, ipsa
      accusantium ducimus sint quia alias neque iusto aliquam laboriosam
      deleniti!
    </AlertBox>
  </main>
</Root>
