---
import { homeKeywords } from "@/lib/config";
import Root from "../layouts/root.astro";

const title = "Home";
const description = "";
---

<Root title={title} description={description} tags={homeKeywords}>
  <main class="my-20 min-h-svh">
    <!-- <Container /> -->
  </main>
</Root>
