---
import { AlertBox, Article } from "@/components";
import HomeLayout from "@/layouts/home.astro";

import { GET } from "./api/v1/books";

let response = await GET(Astro);
const data = await response.json();

const jsonld = "";
---

<HomeLayout title="Newsletter" description="Newsletter">
  <script
    is:inline
    type="application/ld+json"
    slot="head"
    set:html={JSON.stringify(jsonld)}
  />

  <Article class="">
    <h1>{data.greeting}</h1>

    <AlertBox>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      aut blanditiis possimus deserunt earum, ut iure veniam quibusdam non, ipsa
      accusantium ducimus sint quia alias neque iusto aliquam laboriosam
      deleniti!
    </AlertBox>
  </Article>
</HomeLayout>
