---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Prince Muel - Projects" description="">
  <main class="min-h-full">
    <section class="container">
      <p>
        It can be useful to have a system in place that's easy to go full-width, or have a
        "breakout" section for calls to action or blockquotes, or other things you want to call
        attention to.
      </p>
      <p class="tw-breakout">
        Traditionally, we use a container or wrapper, which we need to close, and then open again,
        but thanks to grid, and with the recent additions of subgrid to all the evergreen browsers,
        maybe there's a better way to do things?
      </p>
      <p class="tw-full-width">
        It has it's downsides, as the code is more complex, and it's not as obvious how it works
        when we're so used to the old pattern.
      </p>
      <p>
        That said, we shouldn't limit ourselves just because we are used to working in a specific
        way.
      </p>
    </section>
  </main>
</RootLayout>
