---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className } = Astro.props;
---

<div
  class:list={[
    "mx-auto w-full max-w-screen-xl px-4 sm:px-6 lg:px-8",
    className,
  ]}
>
  <slot />
</div>
