{
  import.meta.env.DEV ? (
    <div
      aria-hidden
      class:list={[
        "fixed bottom-4 right-4 z-[99] animate-pulse rounded-full",
        "flex h-10 w-10 items-center justify-center p-8",
        "bg-gray-800 font-sans text-base text-white",
      ]}
    >
      <p class="block 3xs:hidden">base</p>
      <p class="hidden 3xs:block 2xs:hidden">3xs</p>
      <p class="hidden 2xs:block xs:hidden">2xs</p>
      <p class="hidden xs:block sm:hidden">xs</p>
      <p class="hidden sm:block md:hidden">sm</p>
      <p class="hidden md:block lg:hidden">md</p>
      <p class="hidden lg:block xl:hidden">lg</p>
      <p class="hidden xl:block 2xl:hidden">xl</p>
      <p class="hidden 2xl:block 3xl:hidden">2xl</p>
      <p class="hidden 3xl:block">3xl</p>
    </div>
  ) : null
}
