{
  import.meta.env.DEV ? (
    <div
      aria-hidden
      class:list={[
        "fixed right-4 bottom-4 z-[99] animate-pulse rounded-full",
        "flex h-10 w-10 items-center justify-center p-8",
        "bg-gray-800 font-sans text-base text-white",
      ]}
    >
      <p class="3xs:hidden block">base</p>
      <p class="3xs:block 2xs:hidden hidden">3xs</p>
      <p class="2xs:block xs:hidden hidden">2xs</p>
      <p class="xs:block hidden sm:hidden">xs</p>
      <p class="hidden sm:block md:hidden">sm</p>
      <p class="hidden md:block lg:hidden">md</p>
      <p class="hidden lg:block xl:hidden">lg</p>
      <p class="hidden xl:block 2xl:hidden">xl</p>
      <p class="3xl:hidden hidden 2xl:block">2xl</p>
      <p class="3xl:block hidden">3xl</p>
    </div>
  ) : null
}
