---
import { Picture } from "astro:assets";
import Avatar from "@/assets/images/princemuel-open-graph-image-2024.jpg";
import Container from "../atoms/container.astro";
import Link from "../atoms/link.astro";
import RoutesMenu from "../molecules/routes.astro";
---

<header class="mt-8 lg:mt-16">
  <Container>
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <Link
        href="/"
        class="flex size-10 items-center justify-center overflow-hidden rounded-full md:size-12 lg:size-20"
      >
        <Picture
          width={80}
          height={80}
          alt="Prince Muel"
          src={Avatar}
          formats={["avif", "webp"]}
          loading="eager"
        />
      </Link>

      <div class="grid grid-cols-subgrid flex-col gap-3 lg:gap-4">
        <Link href="/" class="block text-xl font-extrabold text-gray-800 lg:text-3xl">
          Samuel Chukwuzube
        </Link>

        <div class:list={[""]}>
          <RoutesMenu />
        </div>
      </div>
    </div>
  </Container>
</header>
