---
import AvatarImage from "@/assets/images/placeholder.avif";
import { Picture } from "astro:assets";
import Container from "./container.astro";
import Link from "./link.astro";
import RoutesMenu from "./routes-menu.astro";
import ThemeWidget from "./x-theme-widget.astro";
---

<header class="w-full transition-colors ease-in-out">
  <Container class="py-6">
    <div class="flex items-center justify-between">
      <figure class="px-2 sm:p-0">
        <Link
          href="/"
          class="flex size-9 items-center justify-center overflow-hidden rounded-full border-2"
        >
          <Picture
            width={32}
            height={32}
            alt="Prince Muel"
            src={AvatarImage}
            formats={["avif", "webp"]}
          />
        </Link>
        <figcaption class="sr-only">Home</figcaption>
      </figure>

      <div
        class="mx-auto max-md:fixed max-md:inset-x-0 max-md:bottom-[5vh] max-md:grid max-md:w-full max-md:place-content-center"
      >
        <nav aria-label="Main">
          <RoutesMenu />
        </nav>
      </div>

      <ThemeWidget />
    </div>
  </Container>
</header>
