---
import { tw } from "@/helpers/utils";
import type { CollectionEntry } from "astro:content";
import NavLink from "./navlink.astro";

type Props = { routes: CollectionEntry<"routes">[] };

const { routes } = Astro.props;
---

<nav aria-label="Primary Navigation" class="">
  <div class={tw("")}>
    {
      routes.map((route) => (
        <NavLink
          href={route.data.href}
          class="group relative flex capitalize transition-all duration-300 ease-out"
        >
          <span>{route.data.text}</span>
        </NavLink>
      ))
    }
  </div>
</nav>
