---
import { tw } from "@/helpers/utils";
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "class:list">;

const { class: className, ...rest } = Astro.props;
---

<div
  {...rest}
  class:list={tw([
    "absolute top-0",
    "bg-[url(/pattern.png)] bg-[length:1.5rem] bg-repeat",
    className,
  ])}
>
</div>
