.toggle-button {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in 0.2s;
}

.sun,
.moon,
.auto {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

[icon-theme="dark"] .moon {
  opacity: 1;
  animation: rotate 1s ease-out;
}

[icon-theme="light"] .sun {
  opacity: 1;
  animation: rotate 1s ease-out;
}

[icon-theme="auto"] .auto {
  opacity: 1;
  animation: rotate 1s ease-out;
}
