---
import Container from "@/components/atoms/container.astro";
import Link from "@/components/atoms/link.astro";
import MainContent from "@/components/atoms/main.astro";
import Markdown from "@/components/atoms/markdown.astro";
import { Content } from "@/content/pages/projects.md";
import RootLayout from "@/layouts/root.astro";
import { getCollection } from "astro:content";

const collection = await getCollection(
  "projects",
  ({ data }) => !(import.meta.env.PROD && data.draft),
);

const entries = collection.sort((a, b) => {
  return Number(b.data.publishedAt) - Number(a.data.publishedAt);
});
---

<RootLayout title={["Projects"]} description="Projects">
  <Container class="mt-12">
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <MainContent class="flex flex-col gap-3 lg:col-start-2">
        <h1 class="text-2xl font-extrabold text-gray-800">Projects</h1>
        <Markdown>
          <Content />
        </Markdown>

        <section class="flex flex-col gap-10">
          {
            entries.map(({ slug, data }) => (
              <article class="flex flex-col gap-1">
                <h3>
                  <Link
                    href={`/projects/${slug}`}
                    class="text-lg font-bold text-gray-800 hocus:underline"
                  >
                    {data.title}
                  </Link>
                </h3>
                <p class="text-base text-gray-600">{data.summary}</p>
                <Link
                  href={`/projects/${slug}`}
                  class="mt-2 flex text-sm text-gray-500 hocus:text-gray-700 hocus:underline"
                >
                  Visit the website &RightArrow;
                </Link>
              </article>
            ))
          }
        </section>
      </MainContent>
    </div>
  </Container>
</RootLayout>
