---

import { getCollection } from "astro:content";
import RootLayout from "@/layouts/root.astro";

let entries = await getCollection(
  "projects",
  ({ data }) => !(import.meta.env.PROD && data.draft),
);
entries = entries.sort((a, b) => {
  return Number(b.data.publishedAt) - Number(a.data.publishedAt);
});
---

<RootLayout title={["Projects"]} description="">
  <h1>Hello</h1>
</RootLayout>
