---
import ProjectLayout from "@/layouts/Project.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const entries = await getCollection("projects");
  return entries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

{/* @ts-expect-error */}
<ProjectLayout frontmatter={entry.data}>
  <!-- {
    headings.map((heading) => (
      <a href={`#${heading.slug}`} class="block text-xs">
        {heading.text}
      </a>
    ))
  } -->

  <Content />
</ProjectLayout>
