---
import Root from "@/layouts/root.astro";
import { fetchResource } from "@/lib/utils";

const allProjects = await fetchResource("projects", { sort: true, select: 2 });
---

<Root title="Prince Muel - Projects" description="">
  <main class="min-h-full">
    <section class="container">
      {
        allProjects.map((project) => (
          <div>
            <h2>
              <a href={`/projects/${project.slug}`}>{project.data.title}</a>
            </h2>
          </div>
          // <p>
          //   {project.data.media?.cover ? (
          //     <Image
          //       src={project.data.media.cover}
          //       alt={project.data.media?.coverAlt || ""}
          //     />
          //   ) : null}
          // </p>
        ))
      }
    </section>
  </main>
</Root>
