---
import RootLayout from "@/layouts/RootLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<RootLayout title="Prince Muel - Projects" description="">
  <main class="min-h-full">
    <section class="container">
      {
        allProjects.map((project) => (
          <div>
            {/* @ts-expect-error */}
            <Image src={project.data.media.cover} alt={project.data.media.coverAlt} />
            <h2>
              <a href={`/projects/${project.slug}`}>{project.data.title}</a>
            </h2>
          </div>
        ))
      }
    </section>
  </main>
</RootLayout>
