---
import { invariant } from "@/helpers/invariant";
import type { HTMLAttributes } from "astro/types";

type Props = RequireSome<HTMLAttributes<"a">, "href">;

const { href: url, ...rest } = Astro.props;

invariant(
  url,
  `Expected \`href\` to be of type \`%s\` but received type \`%s\``,
  "URL or string",
  undefined,
);

const href = url.toString();

const props =
  href?.startsWith("/") || href?.startsWith("#")
    ? { ...rest }
    : { ...rest, target: "_blank", rel: "noopener noreferrer" };
---

<a href={href} {...props}>
  <slot />
</a>
