---
import { invariant } from "@/helpers";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

let { href, ...rest } = Astro.props;
invariant(href, "Expected a %s but got %s", "URL or string", undefined);

const pathname = Astro.url.pathname;

href = href.toString();
href = href !== "/" && href.endsWith("/") ? href.slice(0, -1) : href;

const isActive = href === pathname || pathname?.startsWith(`${href}/`);
---

<a href={href} aria-current={isActive ? "page" : "false"} {...rest}>
  <slot />
</a>
