---
import { getCollection } from "astro:content";

const links = await getCollection("social");
---

<ul aria-label="Connect With Me On Social Media" class="flex items-center gap-6 self-start">
  {
    links.map((link) => (
      <li
        title={link.data.text}
        class:list={["transition-transform duration-300 ease-out hover:scale-125"]}
      >
        <a
          href={link.data.href}
          target="_blank"
          rel="noopener noreferrer"
          class="flex size-8 items-center"
        >
          <span class="sr-only"> {link.data.text}</span>
          <img
            loading="eager"
            src={link.data.icon}
            alt=""
            class="backdrop-brightness-100 backdrop-contrast-100"
          />
        </a>
      </li>
    ))
  }
</ul>
