---
import Container from "@/components/container.astro";
import Main from "@/components/main.astro";
import type { ComponentProps } from "astro/types";
import RootLayout from "./root.astro";

type Props = ComponentProps<typeof RootLayout>;
---

<RootLayout {...Astro.props}>
  <slot name="structured-data" slot="structured-data" />
  <Main class="">
    <Container class="">
      <div class="grid grid-cols-1 gap-8">
        <slot />
      </div>
    </Container>
  </Main>
</RootLayout>
