---
import Container from "@/components/atoms/container.astro";
import MainContent from "@/components/atoms/main.astro";
import Markdown from "@/components/atoms/markdown.astro";
import RootLayout from "@/layouts/root.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{ title: string; description: string }>;

const { frontmatter } = Astro.props;

const { title, description } = frontmatter;
---

<RootLayout title={[title, true]} description={description}>
  <Container class="mt-12">
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <MainContent class="flex flex-col gap-2 lg:col-start-2">
        <h1 id="headline" class="text-3xl font-extrabold text-gray-800">
          {title}
        </h1>
        <Markdown>
          <slot />
        </Markdown>
      </MainContent>
    </div>
  </Container>
</RootLayout>
