---
import Container from "@/components/container.astro";
import Main from "@/components/main.astro";
import Profile from "@/components/profile.astro";
import Prose from "@/components/prose.astro";
import type { MarkdownLayoutProps } from "astro";
import RootLayout from "./root.astro";

type Props = MarkdownLayoutProps<{ title: string; description: string }>;

const { frontmatter } = Astro.props;

const { title, description } = frontmatter;
---

<RootLayout title={title} description={description}>
  <Container class="my-10">
    <Main class="relative grid grid-cols-1 gap-4 lg:grid-cols-7 xl:gap-8">
      <aside
        class="sticky top-28 col-span-2 flex h-fit w-full flex-col gap-6 max-lg:hidden"
      >
        <Profile />
      </aside>
      <div class="col-span-5 max-lg:col-span-1">
        <Prose>
          <slot />
        </Prose>
      </div>
    </Main>
  </Container>
</RootLayout>
