---
import ThemeSwitch from "../atoms/theme-toggle.astro";
import Navigation from "../molecules/navigation.astro";
---

<header class="sticky top-0 transition-all ease-in-out container">
  <div class="flex items-center justify-between py-6">
    <nav data-id="navigation" class="mx-auto">
      <Navigation />
    </nav>

    <ThemeSwitch />
  </div>
</header>
