---
import type { CollectionEntry } from "astro:content";
import RootLayout from "./Root.astro";

type Props = {
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;
---

<RootLayout title={frontmatter.title} description={frontmatter?.headline}>
  <main aria-label={frontmatter.title} class="">
    <slot name="post__content" />
  </main>
</RootLayout>
