---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import type { Props as RootLayoutProps } from "./Root.astro";
import RootLayout from "./Root.astro";

type Props = {
  headings: MarkdownHeading[];
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;

const metadata = {
  title: frontmatter.title,
  description: frontmatter?.headline,
  image: { src: "/favicon.svg", alt: frontmatter?.media?.coverAlt },
  canonical: frontmatter.canonical,
  type: "article",
  publishedAt: frontmatter?.publishedAt?.toISOString(),
} satisfies RootLayoutProps;
---

<RootLayout {...metadata}>
  <main aria-label={frontmatter.title} class="">
    <slot name="post__content" />
  </main>
</RootLayout>
