---
import { Container, Main, Profile } from "@/components";
import type { ComponentProps } from "astro/types";
import RootLayout from "./root.astro";

type Props = ComponentProps<typeof RootLayout>;
---

<RootLayout {...Astro.props}>
  <slot name="structured-data" slot="structured-data" />

  <Main class="">
    <Container class="">
      <div class="grid grid-cols-[1fr,28ch] gap-8">
        <slot />
        <Profile />
      </div>
    </Container>
  </Main>
</RootLayout>
