---
import Main from "@/components/astro/main.astro";
import type { ComponentProps } from "astro/types";
import BaseLayout from "./root.astro";

type Props = ComponentProps<typeof BaseLayout>;
---

<BaseLayout {...Astro.props}>
  <slot name="head" slot="head" />
  <Main class="">
    <slot />
  </Main>
</BaseLayout>
