---
import { type Props as ProjectProps } from "@/pages/projects/[...slug].astro";
import type { MDXLayoutProps } from "astro";

type Props = MDXLayoutProps<ProjectProps["entry"]["data"]>;

const { frontmatter, url } = Astro.props;
---

<!-- <link rel="canonical" href={new URL(url, Astro.site).pathname}>
<title>{frontmatter.title}</title> -->
<main aria-label={frontmatter.title} class="">
  <slot />
</main>
