---
import RootMeta from "@/components/meta/root.astro";
import Footer from "@/components/organisms/footer.astro";
import Header from "@/components/organisms/header.astro";
import { BreakpointIndicator } from "@/components/react/indicator";
import { tw } from "@/helpers/utils";
import { fontMono, fontSans } from "@/lib/fonts";
import "@/styles/globals.css";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { cn } from "tailwind-variants";

export interface Props {
  title: string;
  description: string;
  image?: { src?: string; alt?: string };
  canonical?: string | URL | null;
  type?: "website" | "article";
  publishedAt?: string;
}

const { ...rest } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  data-darkreader-mode="dynamic"
  data-darkreader-theme="dark"
  class={cn("__sans__ __serif__ __mono__")({ twMerge: true })}
>
  <head>
    <RootMeta {...rest} />
    <ViewTransitions />

    <AstroFont config={[fontSans, fontMono]} />
  </head>

  <body
    class:list={tw([
      "font-sans text-lg font-normal antialiased dark:bg-red-100",
      "text-zinc-600 dark:text-stone-100",
      "bg-white dark:bg-[#0e141b]",
    ])}
  >
    <Header />
    <slot />
    <Footer />
    <BreakpointIndicator />
  </body>
</html>
