---
import RootMeta from "@/components/meta/RootMeta.astro";
import Header from "@/components/organisms/Header.astro";
import { BreakpointIndicator } from "@/components/react/Indicator";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import { cn } from "tailwind-variants";

interface Props {
  title: string;
  description: string;
  image?: { src: string; alt: string };
  canonical?: string | URL | null;
  type?: "website" | "article";
  publishedAt?: string;
}

const { ...rest } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  data-darkreader-mode="dynamic"
  class={cn("__sans__ __serif__ __mono__")({ twMerge: true })}
>
  <head>
    <RootMeta {...rest} />
    <ViewTransitions />

    <style>
      @font-face {
        font-family: __FontSerif_Fallback;
        src: ui-serif;
        size-adjust: 100%;
      }
      @font-face {
        font-family: __FontSerif;
        src: url("../fonts/spectral-300.ttf") format("truetype");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: __FontSerif;
        src: url("../fonts/spectral-400.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      .__serif__ {
        --font-serif: "__FontSerif", "__FontSerif_Fallback";
      }
      @font-face {
        font-family: __FontSans_Fallback;
        src: system-ui;
        size-adjust: 100%;
      }
      @font-face {
        font-family: __FontSans;
        src: url("../fonts/UbuntuSansVariableItalic.ttf") format("truetype");
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: __FontSans;
        src: url("../fonts/UbuntuSansVariableNormal.ttf") format("truetype");
        font-style: normal;
        font-display: swap;
      }
      .__sans__ {
        --font-sans: "__FontSans", "__FontSans_Fallback";
      }
      @font-face {
        font-family: __FontMono_Fallback;
        src: ui-monospace;
        size-adjust: 100%;
      }
      @font-face {
        font-family: __FontMono;
        src: url("../fonts/MonoLisaVariableItalic.woff2") format("woff2");
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: __FontMono;
        src: url("../fonts/MonoLisaVariableNormal.woff2") format("woff2");
        font-style: normal;
        font-display: swap;
      }
      .__mono__ {
        --font-mono: "__FontMono", "__FontMono_Fallback";
      }
    </style>
  </head>
  <!-- dark:bg-[#1A181F] -->
  <body
    class="bg-white font-sans text-lg font-normal text-zinc-600 antialiased dark:bg-[#1A181F] dark:text-stone-100"
  >
    <Header />
    <slot />
    <BreakpointIndicator />

    <style is:global>
      :where([data-darkreader-theme="dark"] .astro-code),
      :where([data-darkreader-theme="dark"] .astro-code span) {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
      }
    </style>
  </body>
</html>
