---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  className?: string;
}

let { href, className, ...rest } = Astro.props;

const pathname = Astro.url.pathname;

href = href?.toString();
href = href !== "/" && href?.endsWith("/") ? href.slice(0, -1) : href;

const isActive = href === pathname || pathname?.startsWith(href + "/");
---

<a
  href={href}
  {...rest}
  data-id="navlink"
  aria-current={isActive ? "page" : "false"}
  class:list={[
    "flex items-center capitalize transition-colors  aria-[current='page']:text-blue-600",
    className,
  ]}
>
  <slot />
</a>
