---
import { moment } from "@/helpers/datetime";
import { Icon } from "astro-icon/components";
import Container from "../atoms/container.astro";
import Link from "../atoms/link.astro";
import Time from "../atoms/time.astro";

const buildDate = new Date(__BUILD_DATE__);
---

<Container class="flex items-center justify-center py-1">
  <p class="flex flex-wrap content-center items-center gap-1 text-xs text-gray-800">
    <span>Built with </span>
    <Icon name="astro-icon" />
    <Link href="https://docs.astro.build/en/concepts/why-astro/">{Astro.generator}</Link> on
    <Time datetime={buildDate.toISOString()}>
      {moment.format(buildDate)}
    </Time>
  </p>
</Container>
