---
import { Icon } from "astro-icon/components";
---

<div class="group relative flex w-max items-center gap-2">
  <Icon name="lucide:mail-plus" class="size-4 text-gray-600" />

  <button data-id="copy-email" class="font-sans text-sm text-gray-700">
    vansomecsam@gmail.com
  </button>
  <span
    data-id="copy-email-toast"
    class="pointer-events-none absolute -top-8 left-1/2 w-max -translate-x-1/2 rounded bg-black/90 px-2 py-1 text-[.625rem] text-gray-50 opacity-0 transition-colors group-hover:opacity-100"
  >
  </span>
</div>

<script>
  import { getElement } from "@/helpers/dom";

  const btn = getElement("[data-id='copy-email']", HTMLButtonElement);
  const toast = getElement("[data-id='copy-email-toast']", HTMLSpanElement);

  const defaultMessage = "Click to Copy";
  toast.textContent = defaultMessage;

  btn.addEventListener("click", async (e) => {
    const target = e.target;
    if (target instanceof HTMLButtonElement) {
      try {
        await navigator.clipboard.writeText(target.innerText);
        toast.textContent = "Copied!";
      } catch (error) {
        console.error("Failed to copy: ", error);
      }
    }
  });

  btn.addEventListener("mouseout", () => {
    setTimeout(() => {
      toast.textContent = defaultMessage;
    }, 200);
  });
</script>
