---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { getCollection } from "astro:content";
import Navlink from "../atoms/navlink.astro";

type Props = HTMLAttributes<"nav">;

// const excluded = ["resources", "articles", "dashboard"];
const excluded = [""];
const routes = await getCollection("routes", (data) => !excluded.includes(data.id));
---

<nav
  aria-label="Main"
  class:list={["flex items-center gap-6", "text-xs uppercase tracking-wide"]}
>
  {
    routes.map((route) => (
      <Navlink
        class:list={[
          "group font-semibold",
          "text-gray-400 aria-[current=page]:text-gray-800 hocus:text-gray-800",
        ]}
        href={route.data.href}
      >
        <Icon name={route.data.icon} class="text-lg text-inherit sm:text-xl md:hidden" />
        <span class="sr-only text-inherit md:not-sr-only">{route.data.text}</span>
      </Navlink>
    ))
  }
</nav>
