---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import Navlink from "../atoms/navlink.astro";

type Props = HTMLAttributes<"nav">;

const excluded = ["resources", "articles", "dashboard"];
const routes = await getCollection(
  "routes",
  (data) => !excluded.includes(data.id),
);
---

<Fragment>
  {
    routes.map((route) => (
      <Navlink class="group" href={route.data.href}>
        <Icon
          name={route.data.icon}
          class="text-lg text-inherit sm:text-xl md:hidden"
        />
        <span class="sr-only text-inherit md:not-sr-only">
          {route.data.text}
        </span>
      </Navlink>
    ))
  }
</Fragment>
