---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Link from "../atoms/link.astro";

const links = await getCollection("social");
---

<ul
  aria-label="Connect With Me On Social Media"
  class="flex items-center gap-6 self-start"
>
  {
    links.map((link) => (
      <li
        title={link.data.text}
        class:list={[
          "transition-transform duration-300 ease-out hover:scale-125",
        ]}
      >
        <Link href={link.data.href} class="flex size-8 items-center">
          <span class="sr-only">{link.data.text}</span>
          <Icon name={link.data.icon} />
        </Link>
      </li>
    ))
  }
</ul>
