---
import type { MarkdownHeading } from "astro";
import Link from "../atoms/link.astro";

type Props = { heading: MarkdownHeading };

const { heading } = Astro.props;
---

<li
  role="listitem"
  data-state="off"
  class:list={[
    "p-2 pl-4",
    "border-l-2 border-gray-300 data-[state=on]:border-yellow-700",
    "data-[state=on]:bg-gray-100 data-[state=on]:text-gray-800",
  ]}
>
  <Link
    href={`#${heading.slug}`}
    class="text-sm text-inherit hover:text-gray-800"
  >
    {heading.text}
  </Link>
</li>
